* {
  margin: 0px;
  padding: 0px;
}

#hide {
  display: none;
}

/* Google font from google */
body {
  font-family: "Inter", sans-serif;
  font-family: "Poppins", sans-serif;
}
/* btn primary */
.btn-primary {
  background-color: #e02c6d;
  color: #ffffff;
  padding: 0.8rem 1.75rem;
  border-radius: 3rem;
  border: none;
  cursor: pointer;
  text-transform: capitalize;
  -webkit-border-radius: 3rem;
  -moz-border-radius: 3rem;
  -ms-border-radius: 3rem;
  -o-border-radius: 3rem;
  transition: 01s;
  -webkit-transition: 01s;
  -moz-transition: 01s;
  -ms-transition: 01s;
  -o-transition: 01s;
}
.btn-primary:hover {
  background-color: #e02c6ebb;
}
/* Main Container */
.main-container {
  max-width: 1360px;
  margin: 0 auto;
}
/* Header Section Styles */
.logo-title {
  color: #3a3a3a;
  font-size: 1.5rem;
  font-weight: 700;
  text-transform: capitalize;
}

.navbar-area {
  display: flex;
  padding: 2rem 0rem;
  align-items: center;
  justify-content: space-between;
}

ul.menu-list {
  display: flex;
  align-items: center;
}

ul.menu-list li {
  list-style: none;
}

ul.menu-list a {
  display: block;
  font-size: 16px;
  font-weight: 700;
  font-weight: 600;
  margin-left: 25px;
  padding: 0.75rem 1rem;
  text-decoration: none;
  text-transform: capitalize;
  color: #3a3a3a;
  transition: 01s;
  -webkit-transition: 01s;
  -moz-transition: 01s;
  -ms-transition: 01s;
  -o-transition: 01s;
}
ul.menu-list a:hover {
  color: #e02c6d;
}
img.menu-icon {
  width: 1.75rem;
  height: 1.75rem;
}
img.menu-icons {
  width: 2.25rem;
  height: 2.25rem;
}
.hero-content {
  max-width: 580px;
}
.hero-img {
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url("../images/circle.svg");
}
.hero-section {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.hero-title {
  color: #3a3a3a;
  font-size: 52px;
  font-weight: 700;
  line-height: 70px;
}
.hero-description {
  color: #3a3a3a;
  font-size: 16px;
  font-weight: 600;
  margin: 1rem 0rem;
}

/* Logo Section Styles */
.logo-section {
  display: flex;
  flex-wrap: wrap;
  padding: 1.5rem 4rem;
  justify-content: space-evenly;
  border: 1px solid;
  border-left: 0;
  border-right: 0;
  border-image: linear-gradient(to right,transparent,rgba(128, 128, 128, 0.438),transparent);
  border-image-slice: 1;
  margin: 6rem auto;
}

/* Popular Product Collection Section Styles */
.popular-product {
  margin-top: 4rem;
}
.product-img img {
  width: 100%;
}
.popular-title {
  color: #3a3a3a;
  font-size: 1.75rem;
  font-weight: 600;
  margin-bottom: 2rem;
  line-height: 4.35rem;
  text-align: center;
  text-transform: capitalize;
}
.product-section {
  padding: 1rem;
  border-radius: 5px;
  margin-bottom: 2rem;
  box-shadow: 0px 0px 40px 0px #ddd;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

.product-title {
  color: #18191f;
  font-size: 1.75rem;
  font-weight: 500;
  line-height: 2.5rem;
  text-transform: capitalize;
}
.product-price {
  color: #1d1d1d;
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 150%;
}
.product-collection {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 2rem;
  /* padding: 0rem 6rem;
    grid-auto-rows: 1fr;
    grid-auto-flow: dense; */
}
.rating-img {
  display: flex;
}

.rating-img figcaption {
  margin-left: 1rem;
  color: #5e6366;
  font-size: 0.9rem;
  font-weight: 700;
  line-height: 1.7rem;
  letter-spacing: 0.1px;
}
.product-description {
  color: #787885;
  font-size: 0.9rem;
  font-weight: 700;
  line-height: 143%;
  letter-spacing: 0.252px;
}
.icon-images {
  width: 1rem;
  height: 1rem;
  background-color: #e44780;
  margin-left: 0.25rem;
}
.arrow-icon {
  color: #e44780;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* =========== Features Section Styles =============*/

.features-area {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 6rem auto;
  gap: 4rem;
}

.features-img {
  width: 50%;
}
.features-content {
  width: 50%;
}
.features-img img {
  width: 100%;
}
.features-title {
  color: #0a0826;
  font-size: 2.25rem;
  font-weight: 700;
  line-height: 3.75rem;
}
.features-description {
  color: #6c6c6c;
  font-size: 1rem;
  font-weight: 700;
  line-height: 1.75rem;
  width: 70%;
  margin-bottom: 1rem;
}
/* Footer Section Styles */
footer.footer-area {
  padding: 6rem 0rem;
  background-color: #0a0826;
}
.footer-section {
  width: 500px;
  margin: auto;
  text-align: center;
}
.footer-title {
  color: #fff;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 700;
  text-transform: capitalize;
}

.footer-description {
  color: #d9dbe1;
  font-size: 0.8rem;
  font-weight: 700;
  line-height: 1.5rem;
  margin: 0.5rem 0rem 1rem;
}

.footer-icon img {
  padding: 0rem 0.5rem;
}

/* Responsive Mobile Device Styles */
@media screen and (max-width: 576px) {
  .main-container {
    max-width: 550px;
  }
  .navbar-area,
  ul.menu-list,
  .logo-section {
    flex-direction: column;
  }
  .hero-section {
    flex-direction: column-reverse;
    text-align: center;
  }
  .hero-img img {
    width: 250px;
  }
  .logo-section img {
    padding: 1rem;
}
  .footer-section {
    width: 100%;
  }
  .product-collection {
    max-width: 95%;
    margin: 0 auto;
    padding: 0rem 1rem;
    grid-template-columns: 1fr;
  }
  .features-area{
    flex-direction: column-reverse;
    text-align: center;
    padding: 0rem 1rem;
  }
  .features-description,
  .features-content,
  .features-img{
    width: 100%;
  }
}
@media screen and (min-width: 576px) and (max-width: 992px) {
  .main-container {
    max-width: 950px;
  }
  .navbar-area,
  ul.menu-list/* ,
  .logo-section */{
    flex-direction: column;
  }
  
  .logo-section img {
    width: 100px;
    margin: auto;
    padding-bottom: 1.5rem;
  }
  .features-area{
    flex-direction: column-reverse;
    text-align: center;
    padding: 0rem 1rem;
  }
  .features-description,
  .features-content,
  .features-img{
    width: 100%;
  }
  .hero-section {
    text-align: center;
    flex-direction: column-reverse;
  }
  .product-collection {
    padding: 0rem 2rem;
    grid-template-columns: repeat(2, 1fr);
  }
}
